<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="InstantM.jar">
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/src/Smeta/META-INF/MANIFEST.MF" />
      </element>
      <element id="module-output" name="InstantM" />
    </root>
  </artifact>
</component>